body{
    &.container-fluid{
      padding:0px
    }
    header{
      div.jumbotron{
        margin:15px 0px 0px 0px;
        padding-bottom: 0px;
        padding-top: 15px;
        border-radius: 0px;
        background-color: #fff;
        h1{
          text-align: center;
          font-size: 35px;
          color:#d73a1e;
          font-weight: bold;
          margin: 0px;
          span{
            font-weight: normal;
          }
        }
        h2{
          margin-top: 0px;
          text-align: center;
          font-size: 20px;
          color: #523468;
          &:after, &:before{
            display: inline-block;
            content: "";
            border-top:.5px solid rgba(0, 0, 0, .5);
            width:20px;
            margin:9px 3px;
          }
        }
        .free{
          width: 200px;
          color:#d73a1e;
          margin-left: 90px;
          p{
            font-style: italic;
            margin-bottom: 0;
          }
        }
        .cart{
          color:#777;
          p{
            display: inline;
          }
          span{
            font-size: 21px;
          }
        }
      }
      nav{
        .nav li a{
          padding: 10px;
        }
        &.navbar-default{
          background-color: #523468;

          .navbar-toggle{
            border-color: transparent;
            .icon-bar{
              background-color: #fff;
            }
            &:focus,&:hover{
              background-color: transparent;
            }
          }
          .navbar-nav li a{
              color: #fff;
              &:hover{
                color: #fff;
                background-color: rgba(0, 0, 0, .2);
                border-radius: 5px;
              }
            }

        }
      }
    }

    main{
      h1{
       text-align: center;
      }
      #lista-produtos{
        li{
          list-style: none;
          img{
            cursor: pointer;
            box-shadow: 1px 3px 5px rgba(0, 0, 0, .2);
          }
          p{
            margin-top: 5px;
            text-align: center;
            font-size: 12px;
            width: 100%;
            span{
              font-weight: bold;
              &.price{
                color:#d73a1e;
                font-weight: normal;
              }
            }
          }
        }
      }
    }

    footer{
      background-color: #e6e6e6;
      padding: 50px;
      ul{
        list-style: none;
        padding: 0px;
        li{
          display: inline;
        }

        &.menu-footer{
          width:450px;
          padding-bottom: 20px;
          li{
            font-size: 20px;
            margin:10px;
            text-transform: uppercase;
            color: #d73a1e;
          }
        }

        &.social{
          padding-bottom: 40px;
          li{
            margin: 0px 15px;
          }
          img{
            width:35px;
            height:35px;
            border-radius: 50%;
          }
        }
      }
      span{
        color:#555;
        font-size: 16px;
      }

      .newsletter{
        background-color: #fff;
        padding: 30px 20px;
        font-size: 17px;
        border-radius: 5px;
        // width: 450px;
        height: 160px;
        p.italic{
          font-style: italic;
        }
        input.form-control{
          max-width:60%;
          display: inline-block;
        }
      }
    }

  .lightbox {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 50px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.75);

    .close{
      margin-top: -20px;
    }

    .lightbox-content {
      h1,h2{
        font-size: 20px;
        margin-top:10px;
        margin-bottom: 0px;
      }
      p.price{
        color:#d73a1e;
      }
      background-color: rgb(255,255,255);
      margin: auto;
      padding: 20px;
      width: 50%;
      ul{
          list-style: none;
      }
    }
  }
}

button{
  &.btn-default{
    text-transform: uppercase;
    background-color: #d73a1e;
    border-color: #d73a1e;
    color: #fff;
    &:focus,&:hover{
      background-color: #d73a1e;
      border-color: #d73a1e;
      color:#fff;
    }
  }
}

.form-group{
  .form-control{
    border:1px solid black;
    &:focus{
      border-color:black;
      box-shadow: none;
    }
  }
}

@media (max-width:991px){
  .copyright{
    font-size: 12px;
    text-align: center;
    margin-top: 30px;
  }
  .social{
    text-align: center;
  }
}

@media (max-width:767px){
  body header nav .nav li a{
    padding:5px 35px;
  }
}
